body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
}
.login-container {
    background: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container a {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.microsoft-btn { background: darkblue; }
.google-btn{ background: darkred; }