<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:content="${user}" name="user">
    <title>Streaming Musicale</title>

    <link rel="stylesheet" th:href="@{style/main.css}">
	<script type="text/javascript" th:src="@{script/queue.js}"></script>
    <script type="text/javascript" th:src="@{script/index.js}"></script>
</head>

<body onload="init()">
<header id="header">
    <button id="toggleAside" onclick="toggleAside(document.getElementById('aside'), this)">☰</button>
    <label>
		<div class="search-container">
			<input id="search-input" type="text" placeholder="Cerca una canzone..." onkeydown="if (event.key === 'Enter') getSong(this.value)">
			<button onclick="getSong(document.getElementById('search-input').value)">
				🔍
			</button>
		</div>
    </label>
    <div class="profile">
        <img th:src="@{image/account.png}" alt="👤">
        <ul class="profile-menu">
            <li th:text="${user.getName()}" style="color: white"></li>

            <li th:if='${user.getRole().equals("ADMIN")}'><a href="/admin/addSong">Aggiungi una canzone</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</header>

<div class="container">
    <aside id="aside">
        <h3 style="cursor: pointer;" onclick="getFavoriteSongs()">Preferiti</h3>
    </aside>
    <main id="main">
        <h2 style="color:white">Lista Canzoni</h2>
        <ul id="song-list"></ul>
    </main>
</div>

<footer id="player">
    <audio id="myAudio" controls></audio>
</footer>
</body>
</html>
