<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style/login.css}">
</head>
<body>
<div class="login-container">
    <a href="/.auth/login/aad" class="microsoft-btn">Accedi con Microsoft</a>
    <a href="/.auth/login/google" class="google-btn">Accedi con Microsoft</a>
</div>
</body>
</html>
